## 1. Load and Inspect the Data

In [1]:
import pandas as pd

# Load the dataset
suicide_df = pd.read_csv(r"C:\Users\HP\global_suicide_analysis\data\master.csv")
suicide_df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [2]:
# Shape of Data Set
print(f"Rows: {suicide_df.shape[0]}, Columns: {suicide_df.shape[1]}")

# Data info
suicide_df.info()

# Basic statistics for numeric columns
suicide_df.describe()

Rows: 27820, Columns: 12
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             27820 non-null  object
 1   year                27820 non-null  int64
 2   sex                 27820 non-null  object
 3   age                 27820 non-null  object
 4   suicides_no         27820 non-null  int64
 5   population          27820 non-null  int64
 6   suicides/100k pop   27820 non-null  float64
 7   country-year        27820 non-null  object
 8   HDI for year        8364 non-null   float64
 9    gdp_for_year ($)   27820 non-null  object
 10  gdp_per_capita ($)  27820 non-null  int64
 11  generation          27820 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

,year,suicides_no,population,suicides/100k pop,HDI for year,gdp_per_capita ($)
count,27820.000000,27820.000000,2.782000e+04,27820.000000,8364.000000,27820.000000
mean,2001.258375,242.574407,1.844794e+06,12.816097,0.776601,16866.464414
std,8.469055,902.047917,3.911779e+06,18.961511,0.093367,18887.576472
min,1985.000000,0.000000,2.780000e+02,0.000000,0.483000,251.000000
25%,1995.000000,3.000000,9.749850e+04,0.920000,0.713000,3447.000000
50%,2002.000000,25.000000,4.301500e+05,5.990000,0.779000,9372.000000
75%,2008.000000,131.000000,1.486143e+06,16.620000,0.855000,24874.000000
max,2016.000000,22338.000000,4.380521e+07,224.970000,0.944000,126352.000000

In [ ]:
# Check for null values in each column
suicide_df.isnull().sum()

In [3]:
# Preview unique countries
print("Countries:", suicide_df['country'].nunique())
print(suicide_df['country'].unique()[:10])  # First 10 countries

# Preview years
print("Years:", suicide_df['year'].unique())

# Preview genders
print("Sex:", suicide_df['sex'].unique())

# Preview age groups
print("Age groups:", suicide_df['age'].unique())

Countries: 101
['Albania' 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Australia'
 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain']
Years: [1987 1988 1989 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002
 2003 2004 2005 2006 2007 2008 2009 2010 1985 1986 1990 1991 2012 2013
 2014 2015 2011 2016]
Sex: ['male' 'female']
Age groups: ['15-24 years' '35-54 years' '75+ years' '25-34 years' '55-74 years'
 '5-14 years']

### Data Cleaning

Handle missing/nulls, Standardize column names, Convert data types (e.g., year to datetime if needed)

In [4]:
# Check for incomplete or null values in each column
suicide_df.isnull().sum()

country                   0
year                      0
sex                       0
age                       0
suicides_no               0
population                0
suicides/100k pop         0
country-year              0
HDI for year          19456
 gdp_for_year ($)         0
gdp_per_capita ($)        0
generation                0
dtype: int64

In [5]:
# Clean column names first
suicide_df.columns = (
suicide_df.columns
.str.strip()
.str.lower()
.str.replace(' ', '_')
.str.replace('/', '_')
.str.replace('(', '')
.str.replace(')', '')
)

# Now check the new column names
print(suicide_df.columns.tolist())

['country', 'year', 'sex', 'age', 'suicides_no', 'population', 'suicides_100k_pop', 'country-year', 'hdi_for_year', 'gdp_for_year_$', 'gdp_per_capita_$', 'generation']

In [6]:
# Now these names will match
suicide_df = suicide_df.drop(columns=['country-year', 'hdi_for_year'])

In [7]:
suicide_df

,country,year,sex,age,suicides_no,population,suicides_100k_pop,gdp_for_year_$,gdp_per_capita_$,generation
0,Albania,1987,male,15-24 years,21,312900,6.71,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,"63,067,077,179",2309,Boomers

In [8]:
# Ensure year is treated as an integer
suicide_df['year'] = suicide_df['year'].astype(int)

# Optionally, convert to datetime (if using for time-series plots)
# suicide_df['year'] = pd.to_datetime(suicide_df['year'], format='%Y') 

# Clean GDP columns (remove commas, convert to int)
suicide_df['gdp_for_year_$'] = suicide_df['gdp_for_year_$'].str.replace(',', '').astype(int)
suicide_df['gdp_per_capita_$'] = suicide_df['gdp_per_capita_$'].astype(int)

In [9]:
suicide_df

,country,year,sex,age,suicides_no,population,suicides_100k_pop,gdp_for_year_$,gdp_per_capita_$,generation
0,Albania,1987,male,15-24 years,21,312900,6.71,2156624900,796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,2156624900,796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,2156624900,796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,2156624900,796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,2156624900,796,Boomers
...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,63067077179,2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,63067077179,2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,63067077179,2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,63067077179,2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,63067077179,2309,Boomers

This line below creates a new column in your DataFrame called suicide_rate. It calculates the number of suicides per 100,000 people for each row (which represents a specific country, year, gender, and age group).

In [10]:
suicide_df['suicide_rate'] = (suicide_df['suicides_no'] / suicide_df['population']) * 100000

In [11]:
suicide_df

,country,year,sex,age,suicides_no,population,suicides_100k_pop,gdp_for_year_$,gdp_per_capita_$,generation,suicide_rate
0,Albania,1987,male,15-24 years,21,312900,6.71,2156624900,796,Generation X,6.711409
1,Albania,1987,male,35-54 years,16,308000,5.19,2156624900,796,Silent,5.194805
2,Albania,1987,female,15-24 years,14,289700,4.83,2156624900,796,Generation X,4.832585
3,Albania,1987,male,75+ years,1,21800,4.59,2156624900,796,G.I. Generation,4.587156
4,Albania,1987,male,25-34 years,9,274300,3.28,2156624900,796,Boomers,3.281079
...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,63067077179,2309,Generation X,2.955121
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,63067077179,2309,Silent,2.582756
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,63067077179,2309,Generation Z,2.172215
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,63067077179,2309,Generation Z,1.671987
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,63067077179,2309,Boomers,1.459413

 ### Exploratory Visualizatiions

In [12]:
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(style = 'whitegrid')

In [16]:
import os 
images_path = os.path.join("..", "images")
os.makedirs(images_path, exist_ok=True)

#### Global Suicide Rate Over Time (1985–2016)

In [47]:
def plot_global_trend(suicide_df):
    # Group and calculate suicide rate per year
    yearly_data = suicide_df.groupby('year')[['suicides_no', 'population']].sum().reset_index()
    yearly_data['suicide_rate'] = (yearly_data['suicides_no'] / yearly_data['population']) * 100000
    
    # Plot
    plt.figure(figsize=(8, 4))
    sns.lineplot(data=yearly_data, x='year', y='suicide_rate', marker='o')
    plt.title('Global Suicide Rate Over Time (per 100,000 people)')
    plt.xlabel('Year')
    plt.ylabel('Suicide Rate')
    plt.tight_layout()
    plt.savefig(os.path.join(images_path, "global_trend.png"), dpi=100)
    plt.close()

The global suicide rate showed a gradual increase from the late 1980s, peaked around the mid 1990s.The global suicide rate has generally shown a decreasing trend from 1995 up to 2016. This could correlate with global economic downturns, increased reporting, or awareness

#### 3.2 Suicide Rate by Gender

In [41]:
def plot_gender_trend_over_time(suicide_df):
    gender_data = suicide_df.groupby(['year', 'sex'])[['suicides_no', 'population']].sum().reset_index()
    gender_data['suicide_rate'] = (gender_data['suicides_no'] / gender_data['population']) * 100000

    plt.figure(figsize=(8, 4))
    sns.lineplot(data=gender_data, x='year', y='suicide_rate', hue='sex', marker='o')
    plt.title('Suicide Rate by Gender Over Time')
    plt.xlabel('Year')
    plt.ylabel('Suicide Rate')
    plt.tight_layout()
    plt.savefig(os.path.join(images_path, "gender_trend.png"), dpi=100)
    plt.close()

Suicide rates were consistently higher for males across all years. In many countries, male suicide rates are 3–4 times higher than females, possibly due to social expectations, underdiagnosed mental health issues, or reluctance to seek help.

#### Average Suicide Rate by Gender

In [42]:
def plot_gender_average_bar(suicide_df):
    gender_avg = suicide_df.groupby('sex')[['suicides_no', 'population']].sum().reset_index()
    gender_avg['suicide_rate'] = (gender_avg['suicides_no'] / gender_avg['population']) * 100000

    plt.figure(figsize=(8, 4))
    sns.barplot(data=gender_avg, x='sex', y='suicide_rate', hue = 'sex', palette='Set2')
    plt.title('Average Global Suicide Rate by Gender (1985–2016)')
    plt.xlabel('Gender')
    plt.ylabel('Suicide Rate per 100,000')
    plt.tight_layout()
    plt.savefig(os.path.join(images_path, "gender_average.png"), dpi=100)
    plt.close()

The suicide rate for males is significantly higher than for females, often 2x–4x depending on the country. This gender gap is consistent globally and may relate to social, psychological, and cultural factors.

#### 3.3 Suicide Rate by Age Group

In [43]:
def plot_age_group_bar(suicide_df):
    age_data = suicide_df.groupby('age')[['suicides_no', 'population']].sum().reset_index()
    age_data['suicide_rate'] = (age_data['suicides_no'] / age_data['population']) * 100000
    age_data = age_data.sort_values(by='suicide_rate', ascending=True)

    plt.figure(figsize=(8, 4))
    sns.barplot(data=age_data, x='age', y='suicide_rate', hue = 'age', palette='magma')
    plt.title('Average Suicide Rate by Age Group')
    plt.xlabel('Age Group')
    plt.ylabel('Suicide Rate')
    plt.tight_layout()
    plt.savefig(os.path.join(images_path, "age_group.png"), dpi=100)
    plt.close()

The 55–74 and 75+ age groups had the highest suicide rates on average. This aligns with global studies linking suicide in older populations to loneliness, illness, and reduced social support systems.

#### Top 10 Countries with Highest Average Suicide Rates

In [44]:
def plot_top10_countries(suicide_df):
    country_data = suicide_df.groupby('country')[['suicides_no', 'population']].sum().reset_index()
    country_data['suicide_rate'] = (country_data['suicides_no'] / country_data['population']) * 100000
    top_countries = country_data.sort_values(by='suicide_rate', ascending=False).head(10)

    plt.figure(figsize=(8, 4))
    sns.barplot(data=top_countries, y='country', x='suicide_rate', hue = 'country', palette='Reds_r')
    plt.title('Top 10 Countries by Suicide Rate')
    plt.xlabel('Suicide Rate per 100,000')
    plt.ylabel('Country')
    plt.tight_layout()
    plt.savefig(os.path.join(images_path, "top10_countries.png"), dpi=100)
    plt.close()

Countries like Lithuania, Russia, and South Korea consistently appeared at the top. Cultural, societal, and economic pressures may contribute to higher rates. Some may also have better suicide reporting systems, making stats appear higher.

#### GDP vs Suicide Rate (Correlation)

In [25]:
suicide_df.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides_100k_pop', 'gdp_for_year_$', 'gdp_per_capita_$', 'generation',
       'suicide_rate'],
      dtype='object')

In [45]:
# Scatter plot
def plot_gdp_vs_suicide(suicide_df):
    plt.figure(figsize=(8, 4))
    sns.scatterplot(data=suicide_df, x='gdp_per_capita_$', y='suicide_rate', hue='sex', alpha=0.6)
    plt.title('GDP per Capita vs Suicide Rate')
    plt.xlabel('GDP per Capita ($)')
    plt.ylabel('Suicide Rate per 100k')
    plt.tight_layout()
    plt.savefig(os.path.join(images_path, "gdp_vs_suicide.png"), dpi=100)
    plt.close()

There is no strong direct correlation between GDP per capita and suicide rate. High-income countries are not immune. This suggests that mental health is not solely dependent on wealth, access to healthcare, cultural stigma, and social support are more influential.

In [48]:
plot_global_trend(suicide_df)
plot_gender_trend_over_time(suicide_df)
plot_gender_average_bar(suicide_df)
plot_age_group_bar(suicide_df)
plot_top10_countries(suicide_df)
plot_gdp_vs_suicide(suicide_df)